*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 40px;
    width: 150px;
    object-fit: contain;
}

a, li{
    text-decoration: none;

}

ul,li{
    list-style: none;
}

button{
    opacity: 1;
}
button:hover{
    opacity: 0.8
}

.custom-hr {
    height: 1px; 
    color:#ffc107;
    background-color: #ffc107; 
}

input[type='radio']{
    accent-color: #ffc107;

}

input:focus{
    border:1px solid #ffc107;
    
}